<section id="about-us">
  <div id="content" class="container-fluid">
    <h3>Registration</h3>
    <p>The Animals' Welfare and Protection Association (AWPA) was formed and registered under the Companies' Ordinance in 1963 by a small group of animal lovers, concerned by the distressing conditions that stray animals are subject to in Sri Lanka. Thereafter, the Association was certified as a voluntary organization under the Voluntary Social Service Organization Act No. 31 of 1980.</p>
    <h3>AWPA Committee</h3>
    <div class="row">
      <div class="col-4">
        <ul>
          <li>Mrs.Hemantha Jayatilaka	(President)</li>
          <li>Mrs.Lalanthi Wijewardene</li>
          <li>Ms.Shiona Weerasekera	(Secretary)</li>
          <li>Mr.Gamini Wimalasuriya	(Treasurer)</li>
          <li>Mrs.Suranganie De Silva (Vice-President)</li>
          <li>Mr.Ranjith Samarasinghe  </li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li>Ms.Iromi Salgado</li>
          <li>Ms.Ainthie Rajapakse</li>
          <li>Mrs.Manel Jayasekera</li>
          <li>Ms.Denesh Silva</li>
          <li>Mrs.Anne Seneviratne</li>
          <li>Ms.Sadhana Vikrantha</li>
        </ul>
      </div>
    </div>
  </div>
</section>