<br>
<section id="petProfile">
  <div class="container">
    <div ><button  type="button "class="btn btn-primary btn block" (click)="newPet($event)" routerLink="/createUpdate">ADD NEW PET</button></div>
  <br><div class="card-deck">
    <div class="card" *ngFor="let pet of pets">
      <img src="..." class="card-img-top" alt="No Image available">
      <div class="card-body">
        <h5 class="card-title">{{pet._id}}</h5>
        <p class="card-text">{{pet.description}}<br>{{pet.type}}</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-link" (click)="doUpdate(pet)">UPDATE</button>
      </div>
    </div>
    
    
  </div>
</div>
</section>