<style>
  form .error{
    color:red;
    font-size:10px;
  }
</style>

<div class="row justify-content-center">
    <form class="border border-light p-5 col-4">

        <p class="h4 mb-4 text-center">Register Admin</p>
      
        <div class="alert alert-danger" *ngIf="!validate() &&
          (
            errors.password_mismatch && touched.password && touched.c_password ||
            errors.email_empty && touched.email ||
            errors.name_empty && touched.name ||
            errors.password_empty && touched.password ||
            errors.email_invalid && touched.email && form.email != ''       
          )
        ">
            <div *ngIf="errors.password_mismatch && touched.password && touched.c_password">Passwords do not match</div>
            <div *ngIf="errors.email_empty && touched.email">Please enter your email address</div>
            <div *ngIf="errors.name_empty && touched.name">Please enter your name</div>
            <div *ngIf="errors.password_empty && touched.password">Please enter your password</div>
            <div *ngIf="errors.email_invalid && touched.email && form.email != ''">Invalid email address</div>
        </div>

        <input type="email" name="email" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="form.email" (ngModelChange)="touched.email = true">
        <input type="text" name="name" class="form-control mb-4" placeholder="Full Name" [(ngModel)]="form.name" (ngModelChange)="touched.name = true">

        <input type="password" name="password" class="form-control mb-4" placeholder="Password" [(ngModel)]="form.password" (ngModelChange)="touched.password = true">
        <input type="password" name="cpassword" class="form-control mb-4" placeholder="Confirm Password" [(ngModel)]="form.c_password" (ngModelChange)="touched.c_password = true">
      
        <div class="d-flex justify-content-between">
            <div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <a href="">Forgot password?</a>
            </div>
        </div>
      
        <button class="btn btn-info btn-block my-4" type="submit" (click)="submit()">Sign in</button>
      
        <div class="text-center">
            <p>Already a member?
                <a href="">Log in</a>
            </p>
      
            <!--<p>or sign in with:</p>
            <a type="button" class="light-blue-text mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fab fa-github"></i>
            </a>-->
        </div>
      </form>
</div>
