<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div id="page-container">
  <div id="content-wrap">

    <app-header></app-header>

 
    <app-navigation></app-navigation>

    <main>
      <div class="container-fluid" style="background-color:#F0F0F0; padding:10px; min-height:600px">
        <router-outlet></router-outlet>
      </div>
    </main>

    <app-footer></app-footer>

  </div>
</div>