mat-card {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: unset!important;
    border-radius: 10px;
}

.form-container {
    display: flex;
    padding: 5px!important;
    width: 100%;
    flex-direction: column;
}

.sub-header {
    text-align: center;
    font-weight: 100;
}