/* You can add global styles to this file, and also import other style files */
/*styles.css*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body{
    height:100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

/* img{
    height:200px;
    width:800px;
    /* max-width:100%; 
} */
header .top{
    padding-top: 20px;
    margin: 0;
    text-align:center;
    /* background: #f2f2f2; */
}
header .top h1{
    font-weight:bold;
}

#logo{
    margin-right:10px;
    margin-bottom: 20px;
    width:70px; 
    height:70px;
}

nav{
    background-color: #d9dadb;
    
}

.navbar-light .navbar-brand{
    font-weight:bold;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}

#footer-main{
    background:#d9dadb;
    color:black;
    font-size: 12px;
    position: absolute;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    text-align:center;
    padding-top: 10px;
    /* padding:10px 0.1px; */
    /* padding-bottom: 0.1px; */
}

#home-content{
    padding:50px 50px; 
    background:#f8f9fa;
}

#featured-text{
    padding:50px;
}

#content{
    /* width: */
    /* height:700px; */
    padding:50px 100px; 
    /* background:#f8f9fa; */
}

.form-container {
    display: flex;
    padding: 5px!important;
    width: 100%;
    flex-direction: column;
}
.sub-header {
    text-align: center;
    font-weight: 100;
}

/* Input fields customization */
.mat-form-field-infix{
    padding: 5px!important;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 2px!important;
}
.mat-input-element {
    vertical-align: super!important;
}