<div class="container">
  <mat-card class="bg-gradient mt-3">
    <img class="rounded mx-auto d-block" src="assets/images/user-profile-picture.png" height="140px" width="140px"
      alt="Profile picture">
    <h3 class="text-center mt-4 text-white">{{ this.userService.user.fullName }}</h3>
  </mat-card>

  <mat-card class="mt-4">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="text-muted mb-3">About</h4>
      </div>
      <div class="col-sm-6">
        <button class="float-sm-right" mat-flat-button (click)="openUpdateDialog()" color="primary">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
      </div>
    </div>

    <dl class="row">
      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9">{{ this.userService.user.email }}</dd>

      <dt class="col-sm-3">Address</dt>
      <dd class="col-sm-9">{{ this.userService.user.address }}</dd>

      <dt class="col-sm-3">NIC</dt>
      <dd class="col-sm-9">{{ this.userService.user.nic }}</dd>

      <dt class="col-sm-3">Telephone</dt>
      <dd class="col-sm-9">{{ this.userService.user.telephone }}</dd>

    </dl>
  </mat-card>
</div>